.header {
  text-align: center;
  font-size: 35px;
  margin: 15px 0;
}

.component-wrapper{
  text-align: center;
  color: #fff;
  font-size: 22px;
  padding: 50px;
  margin-bottom: 20px;
}

.buttonsWrapper {
  text-align: center;
}

button{
  padding: 20px;
  border: 2px solid maroon;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: maroon;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: maroon;
}